form.signUp-form {
  margin-top: 3rem;
  max-width: 500px;
}
label.form-label {
  margin-top: 1rem;
}
button.btn.btn-primary {
  margin-top: 15px;
}
span {
  color: red;
  font-family: sans-serif;
}


form.signUp-form .button{
  margin-top: 1.2rem;
  margin-bottom: .6rem;
}

form.signUp-form  .link-to-signin{
  color: var(--text);
  font-size: .8rem;
  text-align: center;
}

form.signUp-form  .accent{
  color: lightblue;
}
