form.signIn-form {
  margin-top: 3rem;
  max-width: 500px;
}
label.form-label {
  margin-top: 1rem;
}
button.btn.btn-primary {
  margin-top: 15px;
}
span {
  color: red;
  font-family: sans-serif;
}

form.signIn-form .button{
  margin: 1.2rem 0rem 0.8rem 0rem;
}

form.signIn-form .link-to-signup{
  color: var(--text);
  font-size: .8rem;
  text-align: center;
}

form.signIn-form .accent{
  color: lightblue;
}
